.top {
	background: #f1e4e6; // уточнить
	height: 148px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__heading {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: $colorHover;
	}
}

.breadcrumbs {
	&__link {
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: $colorGrey;
		text-transform: uppercase;
	}

	&__link:hover {
		color: $colorHover;
	}

	&__link:last-child {
		font-weight: 700;
		color: $colorHover;
	}

	&__link:not(:last-child)::after {
		content: "/";
		padding-left: 8px;
		padding-right: 8px;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #636363;
	}
}

.filter-sort {
	padding-top: 37px;
	display: flex;
	gap: 30px;
}

.filter-container {
	position: relative;
	width: 360px;
}

.filter {
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	padding: 13px 16px 16px;
	z-index: 10;

	&__summary {
		display: flex;
		align-items: center;
		gap: 11px;
		cursor: pointer;
	}

	&__summary span {
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		color: $colorMain;

	}

	&[open] {
		background-color: $colorWhite;
		box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
	}

	&[open] &__summary span {
		color: $colorHover;
	}

	&[open] .filter-img path {
		fill: $colorHover;
	}

	&__content {
		overflow: hidden;
	}
}

.filter-category {
	margin-top: 16px;

	&__summary {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: $colorGrey;
		padding: 8px 11px 11px;
		border-left: 5px solid $colorHover;
		border-bottom: 1px solid $colorMiddle;
		cursor: pointer;
	}

	&[open] &__summary {
		color: $colorHover;
	}
}

.filter-box {
	display: flex;
	flex-direction: column;
	gap: 11px;
	padding: 24px 16px;

	&__link {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: $colorGrey;
	}

	&__link:hover {
		color: $colorHover;
	}
}

.sort-container {
	display: flex;
	gap: 60px;
}

.sort {
	box-sizing: border-box;
	padding: 13px 0;
	position: relative;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: $colorGrey;

	&__summary {
		display: flex;
		align-items: center;
		gap: 5px;
		cursor: pointer;
	}

	&__summary svg path {
		fill: $colorGrey;
	}

	&[open] &__summary svg path {
		fill: $colorHover;
	}

	&__content {
		position: absolute;
		display: flex;
		flex-direction: column;
		z-index: 100;
		background-color: $colorWhite;
		box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
		gap: 15px;
		width: 70px;
		padding: 10px;
		left: -9px;
		top: 40px;
	}

	&__label {
		display: flex;
		align-items: center;
	}

	&__label span {
		padding-left: 10px;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: $colorGrey;
	}
}