@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  transition: all 0.6s;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

button, input {
  font: inherit;
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
.scrolltop {
  height: 50px;
  width: 50px;
  background-color: #F8F8F8;
  border-radius: 50%;
  position: fixed;
  box-shadow: 0 3px 30px -5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 500;
  right: 50px;
  bottom: 90px;
  opacity: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolltop:hover svg {
  animation: rotate-scale-up 0.6s linear both;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.center-promo {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.header * {
  transition: all 0.6s;
}

.header {
  height: 75px;
  background: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
}
.header__link {
  position: relative;
}
.header__link-notifications {
  position: absolute;
  top: -9px;
  right: -9px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #F16D7F;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
}
.header__link:hover svg path {
  fill: #f16d7f;
}

.menu__label {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.menu__label div {
  height: 2px;
  background-color: #E1E1E1;
}

.menu__label:hover div {
  background-color: #F16D7F;
}

#header__check:checked ~ .menu__label div:first-child {
  background-color: #8F8F8F;
  transform: translateY(10px) rotate(45deg);
  transition-timing-function: var(--ease-out-expo);
  transition-property: transform, opacity;
  transform-origin: center;
}

#header__check:checked ~ .menu__label div:last-child {
  background-color: #8F8F8F;
  transform: translateY(-10px) rotate(-45deg);
  transition-timing-function: var(--ease-out-expo);
  transition-property: transform, opacity;
  transform-origin: center;
}

#header__check:checked ~ .menu__label div:nth-child(2) {
  background-color: #8F8F8F;
  width: 0;
  transition-property: transform, opacity;
}

#header__check:checked ~ .menu__label {
  transform: rotateZ(360deg);
}

.header__checkbox {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}

#header__check:checked ~ .mobile-menu {
  width: 232px;
  padding: 32px;
  opacity: 1;
}

.mobile-menu {
  position: absolute;
  top: 75px;
  right: 75px;
  z-index: 100;
  width: 0;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px 0;
  overflow: hidden;
  opacity: 0;
}

.mobile-menu__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
}

.mobile-menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 17px;
  display: block;
  color: #8F8F8F;
  overflow: hidden;
}

.mobile-menu__link:hover {
  color: #F16D7F;
}

.mobile-menu__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.mobile-menu__list {
  list-style-type: none;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 12px;
}

.mobile-menu__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 24px;
}

.promo {
  background: #f1e4e6;
  display: flex;
}

.promo__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.promo__content {
  padding-left: 64px;
}

.promo__info {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 65%;
}

.promo__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo__heading strong {
  color: #F16D7F;
}

.offer__category {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 65px;
  padding-bottom: 95px;
}

.category__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 260px;
}

.category__item a:hover {
  scale: 1.2;
}

.women {
  background-image: url(../img/offer_women.jpg);
}

.men {
  background-image: url(../img/offer_men.jpg);
}

.kids {
  background-image: url(../img/offer_kids.jpg);
}

.acces {
  min-height: 180px;
  grid-column: 1/-1;
  background-image: url(../img/offer_acces.jpg);
}

.category__item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item__heading {
  order: 2;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.item__text {
  order: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.product-box__heading {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.product-box__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8F8F8F;
  text-align: center;
  padding: 8px 0;
}

.product-box__content {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  gap: 30px;
}

.product__img {
  width: 100%;
}

.product__content {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
}

.product__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #8F8F8F;
}

.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.product:hover .product__img {
  filter: brightness(0.5);
}

.product:hover .add__cart {
  z-index: 10;
}

.product__photo {
  position: relative;
  display: flex;
  justify-content: center;
}

.add__cart {
  position: absolute;
  top: 45%;
  z-index: -10;
  margin: 0 auto;
  border: 1px solid #FFFFFF;
  width: 139px;
  height: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.add__cart:hover {
  box-shadow: 0 0 5px #FFFFFF;
  cursor: pointer;
}

.add__cart:hover svg path {
  fill: #f16d7f;
}

.button__all-products {
  display: block;
  width: 212px;
  margin: auto;
  border: 1px solid #ff6a6a;
  margin-top: 48px;
  margin-bottom: 60px;
  padding: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  text-align: center;
}

.button__all-products:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

.features {
  min-height: 340px;
  background: #4A4A4A;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.features__item {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__img {
  width: 40px;
  height: 40px;
}

.features__heading {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #F8F8F8;
  padding-top: 28px;
  padding-bottom: 16px;
}

.features__text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #F8F8F8;
}

.footer__subscribe {
  min-height: 448px;
  background-image: url(../img/subscribe.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.footer__subscribe-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blockquote__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: calc(50% - 570px);
}

.blockquote__img {
  width: 96px;
}

blockquote::before {
  content: "“";
}

blockquote::after {
  content: "“";
}

.footer__blockquote {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #4A4A4A;
  padding: 30px 0;
  text-align: center;
}

.footer__blockquote strong {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #4A4A4A;
}

.subscribe__item {
  width: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: calc(50% - 570px);
}

.subscribe__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #4A4A4A;
}

.subscribe__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #4A4A4A;
}

.subscribe__form {
  display: flex;
  margin-top: 32px;
}

.subscribe__form-email {
  padding: 0 22px;
  width: 230px;
  height: 50px;
  background: #E1E1E1;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  color: #4A4A4A;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.subscribe__form-submit {
  width: 100px;
  height: 50px;
  background: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.subscribe__form-submit:hover {
  background: #e05c6e;
}

.footer {
  min-height: 80px;
  background: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.social__networks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.social__icons:hover .rect {
  fill: #F16D7F;
}

.social__icons:hover .icon {
  fill: #FFFFFF;
}

.top {
  background: #f1e4e6;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #8F8F8F;
  text-transform: uppercase;
}
.breadcrumbs__link:hover {
  color: #F16D7F;
}
.breadcrumbs__link:last-child {
  font-weight: 700;
  color: #F16D7F;
}
.breadcrumbs__link:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.filter-sort {
  padding-top: 40px;
  display: flex;
  gap: 30px;
}

.filter-container {
  position: relative;
  width: 360px;
}

.filter {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  padding: 13px 16px 16px;
  z-index: 10;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}
.filter[open] {
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__summary {
  color: #F16D7F;
}
.filter[open] .filter-img path {
  fill: #F16D7F;
}

.filter-category {
  margin-top: 16px;
}
.filter-category__summary {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8F8F8F;
  padding: 8px 11px 11px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #E1E1E1;
  cursor: pointer;
}
.filter-category[open] .filter-category__summary {
  color: #F16D7F;
}

.filter-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter-box__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8F8F8F;
}
.filter-box__link:hover {
  color: #F16D7F;
}

.sort-container {
  display: flex;
  gap: 60px;
}

.sort {
  box-sizing: border-box;
  padding: 13px 0;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8F8F8F;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.sort__summary svg path {
  fill: #8F8F8F;
}
.sort[open] .sort__summary svg path {
  fill: #F16D7F;
}
.sort__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  gap: 15px;
  width: 70px;
  padding: 10px;
  left: -9px;
  top: 40px;
}
.sort__label {
  display: flex;
  align-items: center;
}
.sort__label span {
  padding-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8F8F8F;
}

.cart-box {
  display: flex;
  justify-content: space-between;
}

.cart-details {
  padding-top: 95px;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart-details__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.cart-details__buttons button {
  width: 235px;
  height: 50px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  background: #FFFFFF;
  color: #4A4A4A;
}

.button-hover {
  position: relative;
  overflow: hidden;
  outline: 1.5px solid;
  outline-color: #A4A4A4;
  outline-offset: 0px;
}

.button-hover::before {
  background: #FFFFFF;
  opacity: 0.8;
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 15%;
  left: -20%;
  transition: 2.5s cubic-bezier(0.2, 1, 0.2, 1);
}

.button-hover:hover::before {
  left: 105%;
}

.button-active:active {
  box-shadow: 0px -1px 0px 3px #E1E1E1;
  transition: 0s;
  transform: perspective(200px) translateY(2px) translateZ(-3px);
}

.cart-item {
  width: 652px;
  height: 306px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  display: flex;
  position: relative;
}
.cart-item__close {
  position: absolute;
  text-align: center;
  top: 28px;
  right: 22px;
  width: 18px;
  height: 18px;
}
.cart-item__close:hover {
  transform: rotateZ(180deg);
}
.cart-item__close:active svg path {
  fill: #8F8F8F;
  transition: 0s;
}
.cart-item__close:active svg {
  width: 95%;
  transition: 0s;
}
.cart-item__photo {
  height: 100%;
}
.cart-item__info {
  margin-left: 30px;
  width: 260px;
}
.cart-item__info a {
  display: block;
  margin-top: 22px;
  height: 90px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  word-spacing: 10px;
  overflow: hidden;
}
.cart-item__info a:hover {
  color: #F16D7F;
}
.cart-item__details {
  margin-top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  color: #8F8F8F;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cart-item__row {
  display: flex;
  gap: 6px;
}
.cart-item__price {
  color: #F16D7F;
}
.cart-item__quantity {
  width: 30px;
  height: 25px;
  margin-left: 24px;
  border: 1px solid #E1E1E1;
  padding-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #8F8F8F;
}

.order-details {
  margin-top: 110px;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.adress h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.adress__form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.adress__input {
  height: 45px;
  width: 100%;
  border: 1.5px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding-left: 15px;
  padding-right: 15px;
}
.adress__input::-moz-placeholder {
  color: #E1E1E1;
}
.adress__input::placeholder {
  color: #E1E1E1;
}
.adress__submit {
  width: 100px;
  height: 35px;
  text-align: center;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background-color: #FFFFFF;
}

.checkout {
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
}
.checkout__total-price {
  height: 105px;
  text-align: right;
}
.checkout__sub-total {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-right: 35px;
  margin-top: 40px;
}
.checkout__grand-total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-right: 40px;
  margin-top: 12px;
}
.checkout__grand-total span {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.checkout__sub-total span::before, .checkout__grand-total span::before {
  content: "$";
  margin-left: 8%;
}
.checkout__button {
  height: 105px;
  margin-left: 42px;
  margin-right: 42px;
  border-top: 1px solid #E1E1E1;
  padding-top: 20px;
}
.checkout__button button {
  height: 50px;
  width: 100%;
  background-color: #F16D7F;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.checkout__button button:hover {
  background: #e05c6e;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    justify-content: center;
    gap: 100px;
  }
  .header__left,
  .header__right {
    gap: 100px;
  }
  .mobile-menu {
    right: 0;
    height: 0;
    width: 100%;
    padding: 0;
  }
  #header__check:checked ~ .mobile-menu {
    height: 370px;
    padding: 0;
    width: 100%;
  }
  .mobile-menu__box {
    flex-direction: row;
    padding: 25px 35px;
    justify-content: space-between;
    gap: 0;
    margin-top: 0;
    max-height: 340px;
  }
  .mobile-menu__item {
    width: calc(33.3333333333% - 15px);
  }
  .mobile-menu__heading {
    display: none;
  }
  .mobile-menu__list {
    padding: 0;
  }
  .mobile-menu__link {
    height: auto;
  }
  .scrolltop {
    left: 90vw;
    bottom: 174px;
  }
  .promo {
    max-height: 365px;
  }
  .promo__content {
    padding-left: 39px;
  }
  .promo__info {
    margin-top: 138px;
  }
  .promo__title {
    font-size: 44px;
    line-height: 53px;
  }
  .promo__heading {
    font-size: 24px;
    line-height: 29px;
  }
  .offer__category {
    padding-left: 16px;
    padding-right: 16px;
    gap: 19px;
  }
  .category__item {
    min-height: 167px;
  }
  .acces {
    min-height: 116px;
  }
  .product-box__content {
    grid-template-rows: repeat(4, auto);
    grid-auto-rows: 0;
    overflow: hidden;
  }
  .features {
    flex-direction: column;
    min-height: 610px;
    justify-content: center;
    gap: 48px;
  }
  .footer__subscribe {
    min-height: 615px;
    background-position-x: -350px;
    background-size: cover;
  }
  .footer__subscribe-container {
    flex-direction: column;
    justify-content: center;
    gap: 48px;
  }
  .footer {
    padding: 0 32px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header {
    justify-content: center;
    gap: 40px;
  }
  .header__left, .header__right {
    gap: 40px;
  }
  .mobile-menu {
    right: 0;
    height: 0;
    width: 100%;
    padding: 0;
  }
  #header__check:checked ~ .mobile-menu {
    height: 365px;
    padding: 0;
    width: 100%;
  }
  .mobile-menu__box {
    flex-direction: row;
    padding: 23px 15px;
    justify-content: space-between;
    gap: 0;
    margin-top: 0;
    max-height: 340px;
  }
  .mobile-menu__item {
    width: calc(33.3333333333% - 5px);
  }
  .mobile-menu__heading {
    display: none;
  }
  .mobile-menu__list {
    padding: 0;
  }
  .mobile-menu__link {
    height: auto;
  }
  .scrolltop {
    left: 80vw;
    bottom: 55px;
  }
  .promo {
    height: 363px;
    align-items: center;
    justify-content: center;
  }
  .promo__img {
    display: none;
  }
  .promo__title {
    font-size: 38px;
    line-height: 46px;
  }
  .promo__heading {
    font-size: 20px;
    line-height: 24px;
  }
  .promo__info {
    margin-top: 0px;
  }
  .promo__content {
    padding-left: 0;
  }
  .offer__category {
    display: flex;
    flex-direction: column;
    padding: 64px 15px;
  }
  .acces {
    min-height: 110px;
  }
  .product-box {
    padding: 0 8px;
  }
  .product-box__content {
    display: flex;
    flex-direction: column;
  }
  .features {
    flex-direction: column;
    min-height: 610px;
    justify-content: center;
    gap: 48px;
  }
  .footer__subscribe {
    min-height: 550px;
    background-position-x: -350px;
    background-size: cover;
  }
  .footer__subscribe-container {
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    width: 100%;
  }
  .blockquote__item {
    width: 100%;
  }
  .subscribe__item {
    width: 100%;
  }
  .subscribe__form-email {
    width: -moz-fit-content;
    width: fit-content;
    max-width: 230px;
  }
  .footer {
    min-height: 143px;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .social__networks {
    padding: 40px 0;
  }
}/*# sourceMappingURL=style.css.map */